[submodule "vim/vim/pack/plugins/start/vim-airline"]
	path = vim/vim/pack/plugins/start/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "vim/vim/pack/plugins/start/vim-airline-themes"]
	path = vim/vim/pack/plugins/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "vim/vim/pack/plugins/start/vim-signify"]
	path = vim/vim/pack/plugins/start/vim-signify
	url = https://github.com/mhinz/vim-signify
[submodule "vim/vim/pack/plugins/start/YouCompleteMe"]
	path = vim/vim/pack/plugins/start/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe
