[submodule "vim/vim/pack/plugins/start/vim-airline"]
	path = vim/vim/pack/plugins/start/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "vim/vim/pack/plugins/start/vim-airline-themes"]
	path = vim/vim/pack/plugins/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "vim/vim/pack/plugins/start/vim-signify"]
	path = vim/vim/pack/plugins/start/vim-signify
	url = https://github.com/mhinz/vim-signify
[submodule "vim/vim/pack/plugins/start/YouCompleteMe"]
	path = vim/vim/pack/plugins/start/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe
[submodule "vim/vim/pack/plugins/start/syntastic"]
	path = vim/vim/pack/plugins/start/syntastic
	url = https://github.com/vim-syntastic/syntastic
[submodule "vim/vim/pack/plugins/start/vim-markdown-preview"]
	path = vim/vim/pack/plugins/start/vim-markdown-preview
	url = https://github.com/JamshedVesuna/vim-markdown-preview
[submodule "vim/vim/pack/plugins/start/vim-pydocstring"]
	path = vim/vim/pack/plugins/start/vim-pydocstring
	url = https://github.com/heavenshell/vim-pydocstring.git
